* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

header {
    text-align: center;
    margin-top: 20px;
}

main {
    width: 600px;
    margin: auto;
}

#form-wrapper {
    margin-top: 50px;
    border: 1px solid #000;
    padding: 10px;
}

h2 {
    text-align: center;
}

#review-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
    gap: 10px;
}

.review-form-single-box {
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 100%;
}

.review-form-multiple-box {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

#review-title, #review-username {
    height: 30px;
}

#review-message {
    min-height: 100px;
    max-width: 100%;
}

.review-form-button {
    width: 200px;
    margin: auto;
    height: 30px;
    margin-top: 15px;
}