@import url('./forms.css');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: "Poppins", sans-serif;
}

header {
    text-align: center;
    margin-top: 20px;
}

main {
    width: 600px;
    margin: auto;
}

h2 {
    text-align: center;
}