* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: "Poppins", sans-serif;
}

header {
    text-align: center;
    margin-top: 20px;
}

main {
    width: 600px;
    margin: auto;
}

#form-wrapper {
    margin-top: 30px;
    border-width: 10px 1px 2px 1px;
    border-style: solid;
    border-color: #000;
    padding: 10px;
}

h2 {
    text-align: center;
}

#review-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
    gap: 10px;
}

.review-form-single-box {
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 100%;
}

.review-form-multiple-box {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

#review-title, #review-username, #review-score {
    height: 30px;
}

#review-message {
    min-height: 100px;
    max-width: 100%;
}

.review-form-button {
    width: 200px;
    margin: auto;
    margin-top: 15px;
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}

#reviews-list {
    margin-top: 30px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.review {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 15px;
}

.review-header {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.review-text {
    margin-top: 10px;
}

.review-header-info {
    font-size: 14px;
}
