{% macro input(name='', label='', type='text', placeholder='', maxlength=200) %}
<div class="review-form-single-box">
    <label for="{{ name }}">{{ label }}</label>
    <input type="{{ type }}" name="{{ name }}" id="{{ name }}" maxlength="{{ maxlength }}" required>
</div>
{% endmacro %}

{% macro text_area(name='', label='', placeholder='', maxlength=350) %}
<div class="review-form-single-box">
    <label for="{{ name }}">{{ label }}</label>
    <textarea name="{{ name }}" id="{{ name }}" maxlength="{{ maxlength }}" required></textarea>
</div>
{% endmacro %}